body {
    font-family: 'Arial', sans-serif;
    background-color: #f6e9e9;
    color: #000000;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
#container {
    display: flex;
    flex-direction: row;
  }
  
  .sidebar {
    width: 30%;
    margin: 10px 0 10px 0;
  }
  
  .sidebar ul {
    margin: 0px;
    padding: 0 10px 0 10px;
  }
  
  .sidebar li {
    display: block;
    margin: 0px 0px 5px 0px;
    padding: 5px 5px 5px 5px;
    border-right: solid 2px #cccccc;
    background-color: #eeeeee;
  }
  
  .sidebar a {
    color: #444444;
    text-decoration: none;
  }
  .content {
    width: 70%;
    margin: 10px 0 10px 0;
  }
  .content h2 {
    margin: 20px 10px 10px 10px;
    border-bottom: solid 1px #cccccc;
    color: #444444;
  }
  .content p {
    margin: 0 10px 10px 20px;
  }